<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.sanleny.demo.dao.UserMapper">

    <select id="dataGrid" resultType="cn.sanleny.demo.entity.User">
        SELECT id,`name`,age,email,create_time FROM `user`
        <where>
            <if test="entity.name !=null and entity.name !=''">
                AND `name` LIKE concat('%',#{entity.name},'%')
            </if>
        </where>
    </select>

</mapper>
